@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cor-de-fundo: #000000;
    --roxo-principal: #522AB1; 
    --fonte-primaria: 'Montserrat', sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    margin: 0; 
}

* {
    box-sizing: border-box; 
}

.cabecalho {
    position: sticky;
    top: 0;
    max-width: 100%; 
    height: auto;
    padding: 2.5em 1.25em; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: var(--cor-de-fundo);
    z-index: 200;
}

.cabecalho__menu {
    display: flex;
    gap: 5em;
    justify-content: flex-end; 
    align-items: center; 
    width: 100%; 
    padding-right: 2.5em; 
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--branco-principal);
    text-decoration: none;
    transition: color 0.3s; 
}

.cabecalho__menu__link:hover {
    color: var(--roxo-principal); 
}

.img__fluid{
    max-width: 100%;
    height: auto;
}

.img{
    width: 100%;
    height: auto;
}

.quem__somos {
    max-width: 50%;
    margin: 2% auto; 
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px 0;
}

.rodape{
    color: var(--branco-principal);
    background-color: var(--roxo-principal);
    padding: 1.5em;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 200;
}

.rodape__lista {
    display: flex;
    justify-content: center; 
    text-align: center; 
    list-style-type: none;
    margin-top: 1em;
    padding: 0; 
}

.lista__link {
    margin: 0; 
}

.lista__link a {
    margin: 0 0.5em; 
}

.contato{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: var(--fonte-primaria);
    color: #FFF;
}

.button{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    border: 2px solid var(--branco-principal);
    width: 100%;
    border-radius: 8px;
    margin-top: 1rem;
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 200;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #1f1f1f;
    color: white;
  }

.footer__copyright {
    display: flex;
    justify-content: center; 
    text-align: center; 
    list-style-type: none;
    margin-top: 1em;
    padding: 0; 
}
